# --- Python Basics ---
__pycache__
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
*/**/__pycache__

# --- Environments ---
.venv/
venv/
env/
bin/
lib/

# --- Build & Distribution ---
dist/
build/
*.egg-info/
.eggs/
nosetests.xml
coverage.xml
*.cover

# --- IDEs & Editors ---
.vscode/
.idea/
*.swp
.DS_Store

# --- Library Specific (Raylib/C) ---
*.so
*.dll
*.exe
*.bin